/Login.class
/SignupOne.class
/Conn.class
/SignupTwo.class
/SignupThree.class
/Transactions.class
/Deposit.class
/Withdrawl.class
/FastCash.class
/PinChange.class
/BalanceEnquiry.class
/MiniStatement.class

*.class

# Eclipse
.project
.classpath
.settings/

# VS Code / Visual Studio
.vscode/
.vs/

# Java compiled files
*.class
bin/
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jar files (optional)
*.jar
